/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  background-color:black;
}
.jumbotron {
  text-align: center;
  color: #FFD900;
  position: relative;
  background: #000 ;
  width: 100%;
  height: 15%;
  background-size: cover;
  overflow: hidden;
}

/* #map{
  height: 900px;
} */
/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 95%;
} 

.legend {
  line-height: 18px;
  color: #555;
  background: white;
  padding: 6px 6px;
  border-radius: 5px; 
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-bottom.leaflet-left{
  width: 90%;
}
